:root{
  --primaryColor: #ffb400;
  --secondaryColor: #111111;
}
a{
  text-decoration: none;
  color: #fff;
}
/* a:hover{
  color: #fff;
} */
.bg-black{
  background-color: var(--secondaryColor);
}
.custom-bg{
  /* background-color: var(--secondaryColor); */
  max-width: 100vw;
  min-height: 100vh;
}
.primary-color{
  color: var(--primaryColor);
}
body{
  font-family: "Poppins", sans-serif;
}
html{
  overflow-y: auto;
}
.header ul{
  /* position: absolute; */
  position: fixed;
  right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  height: 100vh;
  padding-left: 0;
  padding-right: 33px;
}
.header ul li.icon-box{
  display: flex;
  margin-bottom: 15px;
  background-color: #2b2a2a;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  transition: all .3s;
}
.header .icon-box i{
  color: #ddd;
  font-size: 19px;
}
.header .icon-box a{
  /* display: block; */
  padding: 0;
  width: 50px;
  height: 50px;
}
.header .icon-box a h2{
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  transition: all 0.3s;
  border-radius: 30px;
  padding-inline: 30px;
  height: 50px;
  font-size: 20px;
  margin: 0;
  background-color: var(--primaryColor);
}
.header .icon-box a:hover h2{
  opacity: 1;
  right: 27px;
  margin: 0;
  /* text-align: center; */
  border-radius: 30px 0 0 30px;
}
.header .icon-box i.fab , .header .icon-box i.fas{
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  /* display: block; */
  text-align: center;
  font-size: 20px;
  top: 15px;
}

.header .icon-box:hover{
  background-color: var(--primaryColor);
}
.header .icon-box.active{
  background-color: var(--primaryColor);
}
.header .icon-box.active i{
  color: #fff;
}
.header .icon-box:hover i{
  color: #fff;
}
@media(max-width: 991px){
  .header{
    display: none;
  }
}
/* start navbar mobile */
.navbar-mobile{
  padding-inline: 20px;
  padding-top: 7px;
  display: flex;
  justify-content: right;
  border-bottom: 2px solid #252525;
  background-color: #252525;
}
@media(max-width: 767px){
  .navbar-mobile{
    justify-content: space-between;
  }
}
@media(min-width: 481px){
  .navbar-mobile{
    background-color: transparent;
    border: none;
    padding-inline: 28px;
    padding-top: 10px;
  }
}
.navbar-mobile h3{
  align-self: center;
  color: #ffb400;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 26px;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media(min-width: 768px){
  .navbar-mobile h3{
    display: none;
  }
}
.navbar-mobile.background{
  background-color: #252525;
  padding-block: 10px;
}
.navbar-mobile .list-icon{
  width: 54px;
  height: 54px;
  /* padding-inline: 12px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  z-index: 5;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s;
}
@media(min-width: 992px){
  .navbar-mobile .list-icon{
    display: none;
  }
}
.navbar-mobile .list-icon span{
  width: 26px;
  height: 2px;
  margin-bottom: 7px;
  /* background-color: var(--primaryColor); */
  background-color: #ffffff;
}
.navbar-mobile .list-icon span:last-child{
  margin-bottom: 0;
}
.navbar-mobile .list-icon.active span:first-child{
  transform: rotate(45deg);
  margin-bottom: -2px;
}
.navbar-mobile .list-icon.active span:nth-child(2){
  display: none;
}
.navbar-mobile .list-icon.active span:last-child{
  margin-bottom: 0px;
  transform: rotate(-48deg);
}
.navbar-mobile .mobile-menu{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #252525;
  z-index: 3;
  transition: all 0.5s;
}
.navbar-mobile .mobile-menu.open{
  left: 0px;
}
.navbar-mobile ul{
  list-style: none;
  padding-top: 60px;
  padding-right: 32px;
}
.navbar-mobile .mobile-menu li{
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-weight: 400;
}
.navbar-mobile .mobile-menu li.active a{
  color: var(--primaryColor);
}
.navbar-mobile .mobile-menu li:hover a{
  color: var(--primaryColor);
}
/* end navbar mobile */
/* start home section */
.home-section{
  background:  url('../imgs/05.jpeg') no-repeat;
  background-size: cover;
  position: relative;
}
.home-section .text-content{
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 10px);
}
@media(max-width: 991px){
  .home-section .text-content{
    height: calc(100% - 65px);
  }
}
.home-section .overlay{
  /* display: flex;
  align-items: center; */
  height: 100%;
  width: 100%;
  position: absolute;
  background-color:rgba(17,17,17,0.9);
}
.home-section h4:first-of-type{
  color: var(--primaryColor);
  font-size: 2rem;
}
@media(max-width: 480px){
  .home-section h4:first-of-type{
    font-size: 28px;
  }
}
@media(max-width: 991px){
  .home-section h4:first-of-type{
    font-size: 20px;
  }
}
.home-section .name{
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
  width: fit-content;
  padding-right: 10px;
}
@media (max-width: 992px){
  .home-section .name{
    font-size: 30px;
  }
}
.home-section .navbar-mobile{
  background-color: transparent;
  border-bottom: none;
}
.home-section p.role{
  color: var(--primaryColor);
  font-size: 1.5rem;
}
@media(max-width: 480px){
  .home-section p.role{
    font-size: 19px;
  }
}
.home-section a{
  margin-right: 20px;
}
.home-section .contact{
  display: flex;
  align-items: center;
  margin-top: 5%;
}
/* @media(max-width: 480px){
  .home-section .contact{
    margin-top: 11%;
    flex-direction: column;
  }
} */
@media(max-width: 480px){
  .home-section .contact{
    flex-direction: column;
    align-items: flex-start;
  }
}
.home-section .contact .contact-btns{
  display: flex;
}
.home-section .contact .contact-btns .cv-btn{
  /* display: block; */
  z-index: 1;
  font-size: 19px;
  position: relative;
  line-height: 30px;
  width: 180px;
  padding-inline: 35px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  color: var(--primaryColor);
  border-radius: 60px;
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
}
@media(max-width: 768px){
  .home-section .contact .contact-btns .cv-btn{
    font-size: 15px;
    width: 160px;
    height: 48px;
    line-height: 26px;
  }
}
.home-section .contact .contact-btns .phone-btn{
  font-size: 19px;
  position: relative;
  line-height: 30px;
  width: 180px;
  padding-inline: 35px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding-block: 10px;
  color: var(--primaryColor);
  border-radius: 60px;
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
}
@media (max-width: 768px){
  .home-section .contact .contact-btns .phone-btn{
    font-size: 15px;
    width: 160px;
    height: 48px;
    line-height: 26px;
  }
}
.phone-btn::before{
  content: "\f879";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  opacity: 0;
  position: absolute;
  transform: translateX(15px);
  transition: all 0.3s;
}
.phone-btn:hover span{
  transition: all 0.3s;
}
.phone-btn:hover span{
  display: inline-block;
  transform: translateX(13px);
  transition: all 0.3s;
}
.phone-btn:hover::before{
  opacity: 1;
  transform: translateX(-15px);
  transition: all 0.3s;
}
/* .home-section .contact .custom-btn.phone-btn:hover #svg-phone{
  display: inline-block;
} */
.home-section .contact .cv-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  transform: scale(0);
  border-radius: 60px;
  transition: transform 0.3s ease-in-out;
}
.home-section .contact .cv-btn:hover::before {
  transform: scale(1);
}
.home-section .contact .cv-btn:hover{
  color: #fff;
}
.home-section .contact .cv-btn:hover #cv{
  fill: #fff;
}
.home-section .contact .social-links{
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
}
@media(max-width: 480px){
  .home-section .contact .social-links{
    margin-top: 40px;
  }
}
@media(min-width: 481px){
  .home-section .contact .social-links{
    flex: 1;
  }
}
@media(max-width: 991px){
  .home-section .contact .social-links{
    width: 100%;
    justify-content: space-around;
  }
}
.home-section .contact .social-links a{
  transition: transform 0.3s ease-in;
}
@media(max-width: 480px){
  .home-section .contact .social-links a:first-child{
    margin-left: -15px;
  }
}
.home-section .contact .social-links a:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease-in;
}
.main-header{
  position: relative;
}
@media(max-width: 767px){
  .main-header{
    display: none;
    padding-bottom: 20px;
  }
}
.main-header h2{
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--primaryColor); 
}
.main-header span{
  position: absolute;
  line-height: 0.7;
  letter-spacing: 8px;
  top: 0;
  left: 50%;
  font-size: 95px;
  text-transform: uppercase;
  transform: translate( -50%,0);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.07);
}
@media(max-width: 991px){
  .main-header span{
    /* display: none; */
  }
}
/* end home section */
/* start portfolio*/
.portfolio{
  padding-top: 4%;
  background-color: var(--secondaryColor);
}
@media(max-width: 991px){
  .portfolio{
    padding-top: 0px;
  }
}
.portfolio .portfolio-content{
  margin-top: 7%;
}
.portfolio .portfolio-content .project-card{
  /* width: 500px; */
}
.portfolio .portfolio-content .project-img figure{
  border-radius: 5px;
  background-image: url('../imgs/tamweelmisr.jpeg');
  height: 350px !important;
  background-position: top;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: background-position 10s ease-out;
}
.portfolio-content .project-card:nth-child(2) .project-img figure{
  background-image: url('../imgs/medfest.jpg');
}
.portfolio-content .project-card:nth-child(3) .project-img figure{
  background-image: url('../imgs/shouraonline.jpg');
}
.portfolio .portfolio-content .project-img:hover figure{
  background-position: bottom;
}
.portfolio .portfolio-content .project-card .btn-show{
  display: block;
  z-index: 1;
  font-size: 19px;
  position: relative;
  line-height: 25px;
  width: 150px;
  padding-inline: 35px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  transition: all 0.3 ease-in-out;
  padding: 10px;
  color: #fff;
  border-radius: 60px;
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
}
.portfolio .portfolio-content .project-card .btn-show::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  transform: scale(0);
  border-radius: 60px;
  transition: transform 0.3s ease-in-out;
}
.portfolio .portfolio-content .project-card .btn-show:hover::before {
  transform: scale(1);
}

/* Start Experience section */
/* .about span:before{
  content: "";
  width: 25%;
  margin: auto;
  background-color: #ffb400;
  position: absolute;
  height: 2px;
  bottom: -18px;
  left: 40%;
} */
.about-me .about-text{
  margin-top: 60px;
}
.about-me .about-text p{
  color: #c0c0c0;
  font-size: 20px;
}
@media(max-width: 767px){
  .about-me .about-text p{
    font-size: 16px;
  }
}
.about-me{
  padding-top: 5%;
  background-color: var(--secondaryColor);
}
@media(max-width: 991px){
  .about-me{
    padding-top: 0px;
  }
}
.about-me .section-header{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px){
  .about-me .section-header{
    text-align: left;
    font-size: 21px;
  }
}
.about-me .experience-card{
  position: relative;
}
.about-me .experience-card::before{
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  background-color: #333;
  top: 0;
  left: 25px;
}
.about-me .experience-text {
  margin-left: 10px;
}
.about-me .experience-card .experience-text .work-period{
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #252525;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
}
.about-me .experience-card .experience-text h3{
  font-size: 23px;
}
@media(max-width: 768px){
  .about-me .experience-card .experience-text h3 , .experience-card .experience-text h4{
    font-size: 18px;
  }
}
.about-me .experience-card .experience-icon{
  position: absolute;
}
.about-me .experience-card .experience-icon span{
  display: flex;
  margin-bottom: 15px;
  background-color: var(--primaryColor);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: .3s all;
}
.about-me .experience-card .experience-icon span i{
  color: #fff;
  font-size: 19px;
}

/* start skills section */
.about-me .skills-menu{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px){
  .about-me .skills-menu{
    padding-left: 20px;
  }
}
.about-me .skills-menu li{
  color: #c0c0c0;
  width: calc(100% / 3);
  height: 35px;
}
@media (max-width: 767px){
  .about-me .skills-menu li{
    width: calc(100% / 2);
  }
}
.about-me .skills-menu li span{
  font-size: 18px;
}
@media (max-width: 767px){
  .about-me .skills-menu li span{
    font-size: 15px;
  }
}
.about-me .skills-menu li i{
  color: #ffb400;
  width: 12px;
}
/* end skills section */

/* start certificate section  */
.about-me .certificate-section{
  margin-top: 3rem;
}
.about-me .certificate-section .certificate-header{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px){
  .about-me .certificate-section .certificate-header{
    text-align: left;
    font-size: 21px;
  }
}
.about-me .certificate-section h5{
  color: #b0b0b0;
}
@media(max-width: 768px){
  .about-me .certificate-section h5{
    font-size: 18px;
  }
}
.about-me .certificate-card{
  position: relative;
}
.about-me .certificate-card::before{
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  background-color: #333;
  top: 0;
  left: 25px;
}
.about-me .certificate-card .certificate-text .work-period{
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #252525;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
}
@media(max-width: 768px){
  .about-me .certificate-card .certificate-text h3 , .certificate-card .certificate-text h4{
    font-size: 18px;
  }
}
.about-me .certificate-card .certificate-icon{
  position: absolute;
}
.about-me .certificate-card .certificate-icon span{
  display: flex;
  margin-bottom: 15px;
  background-color: var(--primaryColor);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: .3s all;
}
.about-me .certificate-card .certificate-icon span i{
  color: #fff;
  font-size: 19px;
}
.about-me .certificate-card .certificate-text h5{
  color: #b0b0b0;
}
.about-me .separator{
  opacity: 1;
  border-top: 1px solid #252525;
  margin: 50px auto 0px;
  max-width: 40%;
}
/* End Experience section */

/* Start Services section */
.services{
  background-color: var(--secondaryColor);
  padding-top: 5%;
}
@media(max-width: 991px){
  .services{
    padding-top: 0px;
  }
}
.services .services-content{
  margin-top: 5%;
}
.services .services-content .card-service{
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: 0 0 11px rgb(0 0 0 / 60%);
  padding: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
/* .services .services-content .card-service .overlay{
  position: absolute;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
} */
.services .services-content .card-service .card-icon{
  background-color: #fff;
  display: inline-flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.services .services-content .card-service .card-icon{
  font-size: 30px;
  color: var(--primaryColor);
}
.services .services-content .card-service h4{
  color: #ffb400;
  padding-block: 15px;
  text-transform: uppercase;
}
.services .services-content .card-service p{
  color: #ddd;
  font-size: 15px;
  padding-inline: 10px;
}

.contact-section{
    background-color: var(--secondaryColor);
    padding-top: 5%;
}
@media(max-width: 991px){
  .contact-section{
    padding-top: 0px;
  }
}
.contact-section .contact-form{
  display: flex;
  justify-content: center;
}
@media(max-width: 480px){
  .contact-section .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  } 
}

.contact-section .contact-form form{
  padding-inline: 80px;
}
@media(max-width: 991px){
  .contact-section .contact-form form{
    padding-inline: 20px;
  } 
}

@media(max-width: 480px){
  .contact-section form #email{
    margin-top: 1.5rem;
  }
}
/* form input{
  color: #fff;
} */
.contact-section input ,.contact-section textarea{
  border: 1px solid #111;
  background: #252525;
  padding: 13px 21px;
  border-radius: 25px;
  outline: none;
  color: #fff;
}
.contact-section .btn-submit{
  font-size: 17px;
  position: relative;
  line-height: 30px;
  overflow: hidden;
  width: 74%;
  padding-inline: 24px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding-block: 11px;
  color: var(--primaryColor);
  border-radius: 60px;
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
}
@media (max-width: 767px){
  .contact-section .btn-submit{
    width: 160px;
  }
}
@media (max-width: 991px){
  .contact-section .btn-submit{
    width: 180px;
    font-size: 15px;
    height: 48px;
    line-height: 26px;
  }
}
.contact-section .btn-submit::before{
  content: "\f1d8";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  opacity: 0;
  position: absolute;
  transform: translateX(-100px);
  transition: all 0.3s;
}
.contact-section .btn-submit:hover span{
  display: inline-block;
  transform: translateX(13px);
  transition: all 0.3s;
}
.contact-section .btn-submit:hover::before{
  opacity: 1;
  transform: translateX(-20px);
  transition: all 0.3s;
}
.form-control:focus , textarea:focus{
  box-shadow: none;
  background-color: #252525;
  border-color: #ffb400;
  color: #fff;
}

body::-webkit-scrollbar {
  border-radius: 15px;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #2b2a2a;
}
body::-webkit-scrollbar-track {
  border-radius: 40px;
  background: #ddd;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: none;
}